.excel-toolbar
  position: absolute
  top: $height-header
  left: 0
  right: 0
  height: $height-toolbar
  border-top: 1px solid #dadce0
  border-bottom: 1px solid #dadce0
  display: flex
  align-items: center
  padding: .7rem 1rem

  &__button
    @include button()
  