.excel-toolbar
  .excel-toolbar__button
    span.material-icons format_bold
  .excel-toolbar__button
    span.material-icons format_italic
  .excel-toolbar__button
    span.material-icons format_underlined
  .excel-toolbar__button
    span.material-icons format_align_left
  .excel-toolbar__button
    span.material-icons format_align_center
  .excel-toolbar__button
    span.material-icons format_align_right
