.toolbar
  .toolbar__button
    span.material-icons format_bold
  .toolbar__button
    span.material-icons format_italic
  .toolbar__button
    span.material-icons format_underlined
  .toolbar__button
    span.material-icons format_align_left
  .toolbar__button
    span.material-icons format_align_center
  .toolbar__button
    span.material-icons format_align_right
