.excel-header
  input.excel-header__input(type='text', value='Новая таблица')

  .excel-header__buttons
    .excel-header__button
      span.material-icons delete
    .excel-header__button
      span.material-icons exit_to_app