.table

  .table__row
  
    .table__row-info

    .table__row-data
      .table__column A
      .table__column B
      .table__column C
      .table__column A
      .table__column B
      .table__column C
      .table__column A
      .table__column B
      .table__column C

  .table__row

    .table__row-info 1

    .table__row-data
      div(class="table__cell selected" contenteditable) 21
      div(class="table__cell" contenteditable) 21
      div(class="table__cell" contenteditable) 21
  
  .table__row

    .table__row-info 2

    .table__row-data
      div(class="table__cell" contenteditable) 22
      div(class="table__cell" contenteditable) 22
      div(class="table__cell" contenteditable) 22