.excel-table

  .excel-table__row
  
    .excel-table__row-info

    .excel-table__row-data
      .excel-table__column A
      .excel-table__column B
      .excel-table__column C
      .excel-table__column A
      .excel-table__column B
      .excel-table__column C
      .excel-table__column A
      .excel-table__column B
      .excel-table__column C

  .excel-table__row

    .excel-table__row-info 1

    .excel-table__row-data
      div(class="excel-table__cell selected" contenteditable) 21
      div(class="excel-table__cell" contenteditable) 21
      div(class="excel-table__cell" contenteditable) 21
  
  .excel-table__row

    .excel-table__row-info 2

    .excel-table__row-data
      div(class="excel-table__cell" contenteditable) 22
      div(class="excel-table__cell" contenteditable) 22
      div(class="excel-table__cell" contenteditable) 22