/* src/assets/styles/base/_fonts.scss  */

// http://www.font2web.com/ , https://transfonter.org/, http://fontmassive.com/fd.php (для распознавания по картинке)


/*
 *  Roboto
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/*
 *  Montserrat
 */

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Regular.eot');
  src: url('assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Montserrat-Regular.woff') format('woff2'),
       url('assets/fonts/Montserrat-Regular.woff') format('woff'),
       url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
      //  url('assets/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap; // параметр swap, который не дожидаясь подгрузки вашего красивого и тяжёлого шрифта показывает текст в браузере используя встроенный в этот же браузер шрифт (например sans-serif)
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Bold.eot');
  src: url('assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Montserrat-Bold.woff') format('woff2'),
       url('assets/fonts/Montserrat-Bold.woff') format('woff'),
       url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
      //  url('assets/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
  font-style: normal;
  font-display: swap; // параметр swap, который не дожидаясь подгрузки вашего красивого и тяжёлого шрифта показывает текст в браузере используя встроенный в этот же браузер шрифт (например sans-serif)
}

$Montserrat: "Montserrat",  "Open Sans", sans-serif;



/*
 *  Quicksand
 */

@font-face {
  font-family: "Quicksand";
  src: url('assets/fonts/Quicksand-Regular.eot');
  src: url('assets/fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Quicksand-Regular.woff') format('woff2'),
       url('assets/fonts/Quicksand-Regular.woff') format('woff'),
       url('assets/fonts/Quicksand-Regular.ttf') format('truetype');
      //  url('assets/fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap; // параметр swap, который не дожидаясь подгрузки вашего красивого и тяжёлого шрифта показывает текст в браузере используя встроенный в этот же браузер шрифт (например sans-serif)
}

@font-face {
  font-family: "Quicksand";
  src: url('assets/fonts/Quicksand-Bold.eot');
  src: url('assets/fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Quicksand-Bold.woff') format('woff2'),
       url('assets/fonts/Quicksand-Bold.woff') format('woff'),
       url('assets/fonts/Quicksand-Bold.ttf') format('truetype');
      //  url('assets/fonts/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
  font-style: normal;
  font-display: swap; // параметр swap, который не дожидаясь подгрузки вашего красивого и тяжёлого шрифта показывает текст в браузере используя встроенный в этот же браузер шрифт (например sans-serif)
}

$Quicksand: "Quicksand", "Open Sans", sans-serif;



/*
 *  Material Icons
 */

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local('Material Icons'),
//     local('MaterialIcons-Regular'),
//     url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
//     url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
//     url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
// }

// этот класс необходимо прописать, если шрифт установлен локально
// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;  /* Preferred icon size */
//   display: inline-block;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;
//   white-space: nowrap;
//   direction: ltr;

//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;

//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;

//   /* Support for IE. */
//   font-feature-settings: 'liga';
// }